.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 120px 0 100px 0;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
