body, html {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


.App {

}

.hw {
    padding: 70px 70px;



}

.hwTitle {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 22px;
    font-weight: bold;
    padding-left: 70px;
}

.hwContent {
    padding-top: 20px;



}
