.friendMessage {
    margin-top: 24px;
}

.friendImageAndText {
    display: flex;
    flex-direction: row-reverse;

}

.friendImageAndText img {
    width: 48px;
    height: 48px;

}

.friendText {
    margin-right: 10px;
    background-color: #0066CC;
    color: white;
    border-radius: 0.5rem;
    padding: 7px;
    position: relative;
    max-width: 70%;
}

.friendText:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 7px solid #0066CC;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    right: -10px;

}

.friendName {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: right;

}

.friendMessageText {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.friendTime {
    margin-right: 10px;
    font-size: 10px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    line-height: 12px;
    text-align: right;

}
