.greetingForm {
    display: flex;
    flex-direction: column;
    max-width: 450px;

}


.name {
    margin-top: 10px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #000000;
}

.totalUser {
    margin-top: 30px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #00000080;
}

.inputAndButtonContainer {
    display: flex;
}

.error {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #FF0000;
}

.input {
    width: 372px;
    height: 36px;
}

.input:focus {
}

.errorInput {
    width: 372px;
    height: 36px;
    border: 1px solid #FF0000;
}

.button {

}

.button:focus {

}

.button:active {

}

.button:disabled {
    background-color: #0066CC;


}

.text {
}

.greeting {
}
