.button {
    width: 132px;
    height: 30px;
    padding: 5px 24px 5px 24px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: white;
}

.disabled {
    background-color: grey;
    cursor: not-allowed;
}

.secondary {
    background-color: white;
    border: 1px solid blue;
    color: blue;
    cursor: pointer;

}

.default {

    background-color: blue;
}

.red {
    background-color: red;
}

.default:hover {

}

.red:hover {

}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
